.ul.msg_list li a .image img{width:30%}
.image{
	float: none;
	// .img{
	// 	width:30%;
	// }
}

#menu1{
	width:50%;
	.li-request-cancel-accept{
		.btn-accept-cancel{
			display:inline-flex;
			>form{
				display:inline;
			}
		}
	}
}


a{
	&:hover{
		text-decoration: underline;
	}
}

.main{
	#crop-avatar{
		.avatar-view{
			margin: 0;
			width: 100%;
			background: aliceblue;
		}
	}
	.attend-group{
		padding:20px 0;
		.style-btn{
			border-radius:3px;
			background:#ccc;
			padding: 10px;
			margin-right: 10px;
		}
	}

}